<div class="container">
  <div class="row">
    <div style="text-align:center" class="col-6">
      <h1>{{player1Name}} - {{player1Score}}</h1>
    </div>
    <div style="text-align:center" class="col-6">
      <h1>{{player2Name}} - {{player2Score}}</h1>
    </div>
  </div>
  <div class="row" style="font-size: 100px">
    <div class="col-4">
      <div style="text-align:center" (click)="selectMove(possibleMoves[possibleMoves.Rock])">
        <fa-icon [icon]="['far', 'hand-rock']"></fa-icon>
      </div>
    </div>
    <div class="col-4">
      <div style="text-align:center" (click)="selectMove(possibleMoves[possibleMoves.Paper])">
        <fa-icon [icon]="['far', 'hand-paper']"></fa-icon>
      </div>
    </div>
    <div class="col-4">
      <div style="text-align:center" (click)="selectMove(possibleMoves[possibleMoves.Scissors])">
        <fa-icon [icon]="['far', 'hand-scissors']"></fa-icon>
      </div>
    </div>
  </div>
</div>